In [1]:
import sqlite3

conn = sqlite3.connect("predictions.db")
cursor = conn.cursor()

In [ ]:
#------------------------------------------------------------
#        Script MySQL.
#------------------------------------------------------------


#------------------------------------------------------------
# Table: user
#------------------------------------------------------------

CREATE TABLE user(
        id_user      Int  Auto_increment  NOT NULL ,
        nom          Varchar (50) NOT NULL ,
        identifiant  Varchar (50) NOT NULL ,
        mot_de_passe Varchar (50) NOT NULL
	,CONSTRAINT user_PK PRIMARY KEY (id_user)
)ENGINE=InnoDB;


#------------------------------------------------------------
# Table: questionnaire
#------------------------------------------------------------

CREATE TABLE questionnaire(
        id_questionnaire          Int  Auto_increment  NOT NULL ,
        Age                       Int NOT NULL ,
        Gender                    Varchar (50) NOT NULL ,
        self_employed             Varchar (50) NOT NULL ,
        family_history            Varchar (50) NOT NULL ,
        work_interfere            Varchar (50) NOT NULL ,
        no_employees              Varchar (50) NOT NULL ,
        remote_work               Varchar (50) NOT NULL ,
        tech_company              Varchar (50) NOT NULL ,
        benefits                  Varchar (50) NOT NULL ,
        care_options              Varchar (50) NOT NULL ,
        wellness_program          Varchar (50) NOT NULL ,
        seek_help                 Varchar (50) NOT NULL ,
        anonymity                 Varchar (50) NOT NULL ,
        leave                     Varchar (50) NOT NULL ,
        mental_health_consequence Varchar (50) NOT NULL ,
        phys_health_consequence   Varchar (50) NOT NULL ,
        coworkers                 Varchar (50) NOT NULL ,
        supervisor                Varchar (50) NOT NULL ,
        mental_health_interview   Varchar (50) NOT NULL ,
        phys_health_interview     Varchar (50) NOT NULL ,
        mental_vs_physical        Varchar (50) NOT NULL ,
        obs_consequence           Varchar (50) NOT NULL ,
        reponse                   Varchar (50) NOT NULL ,
        id_user                   Int NOT NULL
	,CONSTRAINT questionnaire_PK PRIMARY KEY (id_questionnaire)

	,CONSTRAINT questionnaire_user_FK FOREIGN KEY (id_user) REFERENCES user(id_user)
)ENGINE=InnoDB;

Création table user

In [5]:
request2 = """CREATE TABLE user(
        id_user      integer primary key ,
        nom          Varchar (50) NOT NULL ,
        identifiant  Varchar (50) NOT NULL ,
        mot_de_passe Varchar (50) NOT NULL
)"""
cursor.execute(request2)
conn.commit()

request2= """INSERT INTO user (nom, identifiant, mot_de_passe) VALUES ("Peter parker", "pparker", "abc123");
"""
cursor.execute(request2)
request2= """INSERT INTO user (nom, identifiant, mot_de_passe) VALUES ("Rebecca Miller", "rmiller", "def456");
"""
cursor.execute(request2)
conn.commit()

Création table questionnaire

In [6]:
request2 = """CREATE TABLE questionnaire(
        id_questionnaire          integer  primary key ,
        Age                       Int NOT NULL ,
        Gender                    Varchar (50) NOT NULL ,
        self_employed             Varchar (50) NOT NULL ,
        family_history            Varchar (50) NOT NULL ,
        work_interfere            Varchar (50) NOT NULL ,
        no_employees              Varchar (50) NOT NULL ,
        remote_work               Varchar (50) NOT NULL ,
        tech_company              Varchar (50) NOT NULL ,
        benefits                  Varchar (50) NOT NULL ,
        care_options              Varchar (50) NOT NULL ,
        wellness_program          Varchar (50) NOT NULL ,
        seek_help                 Varchar (50) NOT NULL ,
        anonymity                 Varchar (50) NOT NULL ,
        leave                     Varchar (50) NOT NULL ,
        mental_health_consequence Varchar (50) NOT NULL ,
        phys_health_consequence   Varchar (50) NOT NULL ,
        coworkers                 Varchar (50) NOT NULL ,
        supervisor                Varchar (50) NOT NULL ,
        mental_health_interview   Varchar (50) NOT NULL ,
        phys_health_interview     Varchar (50) NOT NULL ,
        mental_vs_physical        Varchar (50) NOT NULL ,
        obs_consequence           Varchar (50) NOT NULL ,
        reponse                   Varchar (50) NOT NULL ,
        id_user                   Int NOT NULL,
        FOREIGN KEY (id_user) REFERENCES reponse_questionnaire (id_reponse)
)"""
cursor.execute(request2)
conn.commit()

Réponses : "Besoin d'un traitement"

"Pas besoin d'un traitement"

In [7]:
dict_example = {
    "Age" : 25,
    "Gender" : "Homme",
    "self_employed" : "Oui",
    "family_history" : "Oui",
    "work_interfere" : "Souvent",
    "no_employees" : '1-5',
    "remote_work" : "Oui",
    "tech_company" : "Oui",
    "benefits" : "Oui",
    "care_options" : "Oui",
    "wellness_program" : "Oui",
    "seek_help" : "Oui",
    "anonymity" : "Oui",
    "leave" : "Très facilement",
    "mental_health_consequence" : "Oui",
    "phys_health_consequence" : "Oui",
    "coworkers" : "Oui",
    "supervisor" : "Oui",
    "mental_health_interview" : "Oui",
    "phys_health_interview" : "Oui",
    "mental_vs_physical" : "Oui",
    "obs_consequence" : "Oui",
    "reponse" : "Besoin d'un traitement",
    "id_user" : 1
}

request = """INSERT INTO questionnaire ('Age', Gender, self_employed, family_history, work_interfere, no_employees, remote_work, tech_company, benefits, care_options, wellness_program, seek_help, anonymity, leave, mental_health_consequence, phys_health_consequence, coworkers, supervisor, mental_health_interview, phys_health_interview, mental_vs_physical, obs_consequence, reponse, id_user)
VALUES (25, 'Homme', 'Oui', 'Oui', 'Souvent', '1-5', 'Oui', 'Oui', 'Oui', 'Oui', 'Oui', 'Oui', 'Oui', 'Très facilement', 'Oui', 'Oui', 'Oui', 'Oui', 'Oui', 'Oui', 'Oui', 'Oui', "Besoin d'un traitement", 1)"""
cursor.execute(request)
conn.commit()

In [16]:
iden = "rmiller"
request = f"""select id_user from user where identifiant="{iden}";"""
cursor.execute(request)
id_user = cursor.fetchall()[0][0]
# id_user =

2

In [ ]:
tuple(dict_example.values())

In [ ]:
tuple(dict_example.keys())

In [ ]:
# request = f"""DELETE FROM questionnaire
# WHERE id_questionnaire = 3"""
# cursor.execute(request)
# conn.commit()

In [ ]:

conn = sqlite3.connect("predictions.db")
cursor = conn.cursor()
request = f"""INSERT INTO questionnaire {tuple(dict_example.keys())}
VALUES {tuple(dict_example.values())}"""
cursor.execute(request)
conn.commit()
conn.close()

In [ ]:
dict_example.values()